In [1]:
import os

import sqlite3 as sq
from sqlalchemy import create_engine, inspect, Table, MetaData
from sqlalchemy.orm import sessionmaker

import pandas as pd

In [2]:
mta_data_engine = create_engine("sqlite:///mta_data.db")

In [3]:
def insert_table_from_csv(csv_list, engine):
    for file in csv_list:
        with open(file, 'r') as f:
            data = pd.read_csv(f)
            data.columns = data.columns.str.strip()
        data.to_sql(os.path.splitext(file)[0], con=mta_data_engine, index=False, if_exists='replace')

In [4]:
insert_table_from_csv(['mta_stations_loc.csv', 'mta_complex_id.csv'], mta_data_engine)

In [5]:
insp = inspect(mta_data_engine)
print(insp.get_table_names())

['mta_complex_id', 'mta_data', 'mta_stations_loc']

In [ ]:
pd.read_sql('''
            SELECT a.booth, a.unit, a.scp, a.station, a.linename, a.division, 
              MAX(a.entries)-MIN(a.entries) AS NET_ENTRIES,
              MAX(a.exits)-MIN(a.exits) AS NET_EXITS,
              CAST(b.complex_id AS int) AS COMPLEX_ID, 
              c."GTFS Latitude" AS LAT, c."GTFS Longitude" AS LON
            FROM mta_data a
            JOIN mta_complex_id b
            JOIN mta_stations_loc c
            ON a.booth = b.booth AND a.unit = b.remote AND b.complex_ID = c.complex_id
            WHERE a.date >= '06/01/2017' 
              AND a.date <= '08/31/2017' 
              AND a.desc = 'REGULAR'
            GROUP BY a.scp
            LIMIT 10;
            ''', 
            mta_data_engine)